@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Homemade+Apple&family=Neuton&family=Rock+Salt&family=Ubuntu&display=swap');

.page404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #070707c9;
    overflow: hidden;

    h2,
    span {
        font-family: 'Graduate', cursive;
        letter-spacing: 3px;
    }

    span {
        color: #0c0c0ca2;
    }

    img {
        background-color: transparent;
        width: 40%;
        padding-top: 3em;
        opacity: .3;
        filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));   
    }
}